@tailwind base;
@tailwind components;
@tailwind utilities;

h/* PAKU BUMI ANTI MEGALODON */
svg {
    max-width: 32px !important;
    max-height: 32px !important;
    height: auto !important;
}
tml { scroll-behavior: smooth; }
